@model IEnumerable<BookingTour.Models.Blog>

@{
    ViewData["Title"] = "Danh sách Blog";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .post-content img {
        width: 100%;
        max-height: 450px; /* Chiều rộng của hình ảnh bằng 100% chiều rộng của phần chứa */
        height:auto%; /* Giữ tỉ lệ khung hình tự động */
        object-fit: cover; /* Đảm bảo hình ảnh trải dài đầy đủ mà không làm biến dạng */
    }

</style>
<div class="body">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Home</a>
            </li>
            <li role="presentation">
                <a href="#blog_list" aria-controls="blog_list" role="tab" data-toggle="tab" aria-expanded="false">Blog List</a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- Tab Home -->
            <div role="tabpanel" class="tab-pane fade active in" id="home">
                <h1>Danh sách Blog</h1>

                <p>
                    <a asp-action="Create" class="btn btn-primary">Tạo Blog</a>
                </p>

                <table class="table table-striped table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.IdBlog)</th>
                            <th>Tên Blog</th>
                         
                            <th>hình ảnh</th>
                          
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.IdBlog)</td>
                                <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                        
                             
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content("~/images/" + item.ImageUrl)" class="tour-image" style="width:200px"/>
                                    }
                                    else
                                    {
                                        <span>Không có hình</span>
                                    }
                                </td>
                             
                                <td>
                                    <div class="button-group" style=" align-items: center;   gap: 10px; display: flex;">
                                  @*   <a asp-action="Edit" asp-route-id="@item.IdBlog" class="btn btn-warning btn-sm">Sửa</a> *@
                                 @*    <a asp-action="Details" asp-route-id="@item.IdBlog" class="btn btn-info btn-sm">Chi tiết</a> *@
                                        <form asp-action="DeleteConfirmed" asp-controller="Blogs" method="post" style="margin-bottom: 0; margin-right: 10px;">
                                            <input type="hidden" name="id" asp-for="@item.IdBlog" />
                                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa blog này không?');">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Tab Blog List -->
            <div role="tabpanel" class="tab-pane fade" id="blog_list">
                <h1>Danh sách Bài viết</h1>
                @foreach (var blog in Model)
                {
                    <div class="panel panel-default panel-post">
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img src="@Url.Content("~/images/" + "default-avatar.jpg")" class="tour-image" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a href="#">"Ẩn danh"</a>
                                    </h4>
                                    Shared publicly - @(blog.CreatedAt)
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="post">
                                <div class="post-heading">
                                    <p>@blog.Content</p>
                                </div>
                                <div class="post-content">
                                    <img src="@Url.Content("~/images/" + (blog.ImageUrl ?? "default-post-image.jpg"))" class="img-fluid" width="400px"/>

                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="material-icons">thumb_up</i>
                                        <span></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="material-icons">comment</i>
                                        <span></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="material-icons">share</i>
                                        <span>Share</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Type a comment" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
