@model BookingTour.Models.Promotion

@{
    ViewData["Title"] = "Chi tiết Khuyến mãi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h1 class="my-4">Chi tiết Khuyến mãi</h1>

    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Thông tin khuyến mãi</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    Ngày bắt đầu
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.StartDate, "dd/MM/yyyy")
                </dd>
                <dt class="col-sm-3">
                    Ngày kết thúc
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EndDate, "dd/MM/yyyy")
                </dd>
                <dt class="col-sm-3">
                    Số tiền giảm giá
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DiscountAmount)
                </dd>
                <dt class="col-sm-3">
                    Tiêu chí đủ điều kiện
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EligibilityCriteria)
                </dd>
                <dt class="col-sm-3">
                    Trạng thái
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-3">
                    Khách sạn
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdHotelNavigation.Name) <!-- Sửa thành thuộc tính thích hợp -->
                </dd>
                <dt class="col-sm-3">
                    Tour
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdTourNavigation.Name) <!-- Sửa thành thuộc tính thích hợp -->
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.IdPmt">Chỉnh sửa</a>
            <a class="btn btn-secondary" asp-action="Index">Quay lại danh sách</a>
        </div>
    </div>
</div>
